<!DOCTYPE HTML>
<html>
<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="<?= $STATIC ?>/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	<link href="<?= $STATIC ?>/css/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
	<script src="<?= $STATIC ?>/js/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script defer src="<?= $STATIC ?>/js/jquery.flexslider.js"></script>
</head>
<body>
	<!----start-header----->
	<div class="header">
		<div class="wrap">
			<div class="header-top">
				<!---start-top-nav---->
				<?php include($TEMPLATE . '/inc/header.html') ?>
				<!---End-top-nav---->
			</div>
			<div class="banner">
				<div class="banner-text">
					<h2><span>青苹果乐园</span></h2>
					<h2>啦啦啦啦啦 敬请摇摆</h2>
				</div>
				<div class="flexslider">
					<ul class="slides">
						<li><img src="<?= $STATIC ?>/images/slide1.jpg" alt="" /></li>
						<li><img src="<?= $STATIC ?>/images/slide2.jpg" alt="" /></li>
						<li><img src="<?= $STATIC ?>/images/slide3.jpg" alt="" /></li>
					</ul>
					<script type="text/javascript">
						$(function(){
							SyntaxHighlighter.all();
						});
						$(window).load(function(){
							$('.flexslider').flexslider({
								animation: "slide",
								controlNav: false
							});
						});
					</script>
				</div>
			</div>
		</div>
	</div>
    <!----End-header----->
	       
		 <!---start-content---->
		 <div class="wrap">
		   <div class="content">	 	 
		       <div class="top-grids">
			 		<div class="section group">
						<div class="grid_1_of_3 images_1_of_3 top_grid">
							<div class="topgrid-desc">							 
							  <h3>欢迎流浪的小孩</h3>
						      <p>Aenean porta, tellus porttitor ugiat elementum, mi justo vehicula te, nec tristique leo dolor at odio. </p>
						      </div>
						      <img src="<?= $STATIC ?>/images/grid-img1.jpg" alt="" />
						</div>
						 <div class="grid_1_of_3 images_1_of_3 top_grid">
							 <div class="topgrid-desc">							 
							  <h3>Lipsu mluctus</h3>
						      <p>Jenean porta, tellus porttitor ugiat elementum, mi justo vehicula te, nec tristique leo dolor at odio. </p>
						      </div>
							  <img src="<?= $STATIC ?>/images/grid-img2.jpg" alt="" />
						 </div>
						<div class="grid_1_of_3 images_1_of_3 top_grid">
							 <div class="topgrid-desc">							 
							  <h3>Vivams laoreet</h3>
						      <p>Qonean porta, tellus porttitor ugiat elementum, mi justo vehicula te, nec tristique leo dolor at odio.</p>
						      </div>
						   <img src="<?= $STATIC ?>/images/grid-img3.jpg" alt="" />
						</div>
					</div>
		 		</div>
		 		
		      <div class="content-middle">
		      <div class="content-middle-top">
		      	<h4>Integer vitae libero ac risus egestas placerat</h4>
		      </div>
		       <div class="content-middle-desc">
				<div class="section group">
				<div class="lsidebar span_3_of_1">
				    <img src="<?= $STATIC ?>/images/grid-img.jpg" alt="" />
				 </div>	
				<div class="cont span_3_of_2">
				 	<h3>Joltricies pharetra magna</h3>
				 	<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
				    <div class="more-info more-info2"><a href="#">More Info</a></div>
				  </div>
		        </div>
		       </div>
		      </div>
		      
		     <div class="content-bottom"> 
		      <div class="section group">
				<div class="cont span_2_of_3">
				 <div class="services-desc-block">
				 	<h3>Tricies pharetra magna</h3>
				 	<p>Eent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. </p>
				    <div class="more-info"><a href="#">More Info</a></div>
				 </div>
				  <div class="services-desc-block">
				 	<h3>Cies retra odio</h3>
				 	<p>Vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. </p>
				    <div class="more-info"><a href="#">More Info</a></div>
				 </div>
				</div>	
				<div class="rsidebar span_1_of_3">
				    <h3>Ciaretra lipsum</h3>
				    <div class="news-letter">
				        <form method="post" action="contact-post.html">
							<span><label>Your name</label></span>
							<span><input name="userName" type="text" class="textbox"></span>
							<span><label>Your email</label></span>
							<span><input name="userEmail" type="text" class="textbox"></span>
							<span><label>Your message</label></span>
							<span><textarea name="userMsg"> </textarea></span>
							<span><input type="submit" value="Submit" ></span>
					     </form>
				     </div>
				 </div>			
		       </div>
		      </div>  
			</div>
		  </div>		   			
		 <!---End-content---->
		 <!---start-footer---->
		  <div class="footer">
		    <div class="wrap">
			   	<div class="copy-right">
					<p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			<div class="clear"> </div>
		</div>
	</div>
		 <!---End-footer---->
</body>
</html>

